/* The container <div> - needed to position the dropdown content */
.navi-mobile {
  position: relative;
  display: inline-block;

  .dropbtn {
    width: 30px;
    background-color: #186fb6;
    color: #000;
    padding: 8px;
    font-size: 8px;
    border: none;
    cursor: pointer;

    &:hover, :focus {
      background-color: #114b7a;
    }

    &--active {
      background-color: #830c0c;;
    }
  }


  /* Dropdown Content (Hidden by Default) */
  .noShow {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .show {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #2d2d30;
    width: fit-content;


    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 4px 0px 12px 0px
    }

    .inactive {
      color: #ffffff;
    }
  }

  /* Change color of dropdown links on hover */
  #myDropdown .show:hover {background-color: #ddd;}

}